extends layout

block content
    div
        script(src="/gulp_scripts/pictures.js")
        link(rel="stylesheet" href="/stylesheets/pictures.css")

        div#id02
            div
                header
                    span(onclick="start_config()") &times;
                    h2 Редактрирование картины
                div
                    form(name="postForm" method="POST")
                        table#centered_info1
                            tr
                                th Название:
                                th
                                    input(name = "redact_name" required)
                            tr
                                th Художник:
                                th
                                    input(name = "redact_artist")
                            tr
                                th Стартовая цена:
                                th
                                    input(name = "redact_price" type="number")
                            tr
                                th Минимальный шаг аукциона:
                                th
                                    input(name = "redact_min" type="number")
                            tr
                                th Максимальный шаг аукциона:
                                th
                                    input(name = "redact_max" type="number")

                        p
                            p
                                button#red(type="submit") Сохранить
                        p

        div#id01
            div
                header
                    span(onclick="start_config()") &times;
                    h2 Добавление новой картины
                div
                    form(action='newPicture/', method='POST' id="createform" onsubmit='return new_picture()')
                        table#centered_info
                            tr
                                th Название:
                                th
                                    input(name = "name" required)
                            tr
                                th Художник:
                                th
                                    input(name = "artist" required)
                            tr
                                th Стартовая цена:
                                th
                                    input(name = "price" type="number" min="1" required)
                            tr
                                th Минимальный шаг аукциона:
                                th
                                    input(name = "min" id="min" min = "1" type="number" required)
                            tr
                                th Максимальный шаг аукциона:
                                th
                                    input(name = "max" id= "max" min = "1" type="number" required)
                            tr
                                th Ссылка на изображение:
                                th
                                    input(name = "pt" required)
                        p
                        p
                            button#red1(type='submit') Создать
                        p

        div#id03
            header
                h2 Список лотов
            for item in arts
                table#artTable
                    th
                        - var way = item.pt
                        img(src=way width="200")
                    th
                        table#info
                            tr
                                th Название:
                                th #{item.name}
                            tr
                                th Художник:
                                th #{item.artist}
                            tr
                                th Стартовая цена:
                                th #{item.price}
                            tr
                                th Минимальный шаг аукциона:
                                th #{item.min}
                            tr
                                th Максимальный шаг аукциона:
                                th #{item.max}
                            tr
                                th
                                    button(onclick="edit_picture(\"" + item.name + "\", \"" + item.artist + "\", \"" + item.price + "\", \"" + item.min + "\", \"" + item.max + "\", \"" + item.id + "\")") Редактировать
                                th
                                    form(action="deletePicture/" + item.id method="POST")
                                        button(type="submit") Удалить
