extends layout

block content
    script(src="/gulp_scripts/setting.js")
    link(rel="stylesheet" href="/stylesheets/setting.css")

    div
        form(action="/changeSetting" method="POST")
            table
                tr
                    th Дата начала аукциона:
                    th
                        input(name = "dt" type ="date")
                        #dt #{item.dt}
                    th гг-мм-дд
                tr
                    th Время начала аукциона:
                    th
                        input(type="time" name = "tm")
                        #tm #{item.tm}
                    th чч:мм
                tr
                    th Таймаут продажи картины:
                    th
                        input(type="time" name = "tmout")
                        #tmout #{item.tmout}
                    th чч:мм
                tr
                    th Время до окончания торга по картине:
                    th
                        input(type="time" name = "tmtorg")
                        #tmtorg #{item.tmtorg}
                    th чч:мм

                tr
                    th Пауза для изучения информации по картине:
                    th
                        input(type="time" name = "tminfo")
                        #tminfo #{item.tminfo}
                    th чч:мм
                tr
                    th
                        p
                        p
                            button#edit(type="button" onclick="edit_setting(\"" + item.dt + "\", \"" + item.tm + "\", \"" + item.tmout + "\", \"" + item.tmtorg + "\", \"" + item.tminfo + "\")") Изменить настройки
                            button#ok(type="submit") Сохранить настройки
                    th

